HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


node_modules/
package-lock.json
yarn.lock
.npmrc
.nvmrc
.pnpm-lock.yaml
.pnpm-lock.json
.pnpm-lock.yml
pnpm-lock.yaml
pnpm-lock.json
pnpm-lock.yml
yarn-error.log
yarn-error.yml
yarn-error.json
yarn-error.txt
yarn-error.log.old
yarn-error.log.old.old
yarn-error.log.old.old.old
yarn-error.log.old.old.old.old